@import './base.css';
@import './custom.css';

a, .accent {
  text-decoration: none;
  color: var(--etsu-navy);
  transition: 0.4s;
}

@media (prefers-color-scheme: dark) {
  a, .accent {
    text-decoration: none;
    color: var(--etsu-gold);
    transition: 0.4s;
  }  
}